.content {
    display: grid;
    grid-template-columns: auto auto;
    color: var(--white);
}

.api__title {
    text-decoration: underline;
}

.image {
    display: flex;
}

.social {
    margin: 0 0 0 1rem;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .content {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 600px) {
    .bio {
        display: block;
    }
}