.center {
    text-align: center;
}

.title-txt {
    font-family: 'Courier New', Courier, monospace;
}

.description-txt {
    margin-left: 33.333%;
    width: 33.333%;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.ms-10 {
    margin-left: 10px;
}

.ms-2 {
    margin-left: 2px;
}