.center {
    text-align: center;
    display: grid;
    place-items: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    font-size: 30px;
    text-align: center;
  }

.title-txt {
    font-family: 'Courier New', Courier, monospace;
}

.description-txt {
    max-width: 400px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.avatar {
    display: block;
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.ms-10 {
    margin-left: 10px;
}

.ms-2 {
    margin-left: 2px;
}