.center {
    text-align: center;
    display: grid;
    place-items: center;
}

.title-txt {
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    display: block;
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.mt-10 {
    margin-top: 10px;
}

.ms-2 {
    margin-left: 2px;
}