.main__card {
    margin-top: 3rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    color: #333;
}

.top__main__card {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    margin: 1rem 0;
    font-weight: bold;
}

.pokeSpotBg {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.pokeSpotImage {
    position: absolute;
    width: 35vh;
    max-width: clamp(25%, 50%, 75%);
    transform: translate(1vw, 0vh);
}

.pkmn__about {
    margin-top: 2rem;
}

.typeBadge {
    color: white;
    font-size: small;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 20px;
}

.pokeType {
    text-align: center;
}

.games {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.cards {
    background-color: white;
    border-radius: 20px 20px 10px 10px;
    gap: 2rem;
    cursor: pointer;
}

.card__image {
    object-fit: cover;
    height: 10vh;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card__body {
    text-align: center;
    padding: 1rem;
    color: #333;
}

.card__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card__text {
    margin-top: auto;
}

.downSection {
    margin: 2rem 0;
    text-align: center;
    color: white;
}

.contentLeft {
    margin-right: 2rem;
}

.tbContainer {
    display: flex;
    justify-content: center;
    max-height: 570px;
    overflow-x: auto;
    overflow-y: auto;
}

.pokeList {
    width: 100%;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
}

.pokeList td {
    height: 3rem;
    background-color: #1d1d2e;
}

.tbTLCorner {
    border-top-left-radius: 10px;
}

.tbTRCorner {
    border-top-right-radius: 10px;
}

.tbBLCorner {
    border-bottom-left-radius: 10px;
}

.tbBRCorner {
    border-bottom-right-radius: 10px;
}

.tableHeader {
    background-color: #333;
}

.pkmnSize {
    width: 50px;
}

.pkmnName {
    text-transform: capitalize;
}

iframe {
    width: 100%;
    max-width: 350px;
}


@media screen and (max-width: 915px) {

    .games,
    .downSection,
    .contentLeft,
    .contentRight {
        display: block;
    }

    .cards {
        margin-top: 2rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding-bottom: 4rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .pokeType h1 {
        text-align: start;
    }
}