a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin-right: 15px;
}

/* Header */
.header{
    background-color: var(--darkGray);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
/* Logo */
.logo{
    display: inline-block;
}

.logo__image {
    width: 5rem;
    margin: 10px 10px 0px 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--darkGray);
    overflow: hidden;
    transition: max-height .5s ease-out;
    max-height: 0;
}

.nav__menu a{
    display: block;
    color: var(--white);
}
.nav__menu li{
    display: block;
    padding: 10px 15px;
}
.nav__menu li:hover{
    background-color: var(--white);
}

.nav__menu li:hover a{
    color: var(--darkGray);
}
.nav__menu li.active{
    background-color: var(--yellow);
}
.nav__menu li.active a{
    color: var(--blue);
}

/* Menu Icon */
.hamburguer{
    cursor: pointer;
    float: right;
    transform: translate(-20px, 20px);
    /* position: absolute; */
}/* Style label tag */

.hamburguer__line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamburguer__line::before,
.hamburguer__line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamburguer__line::before{
    top: 5px;
}
.hamburguer__line::after{
    top: -5px;
}

.side__menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side__menu:checked ~ nav{
    max-height: 100%;
}
.side__menu:checked ~ .hamburguer .hamburguer__line {
    background: transparent;
}
.side__menu:checked ~ .hamburguer .hamburguer__line::before {
    transform: rotate(-45deg);
    top:0;
}
.side__menu:checked ~ .hamburguer .hamburguer__line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 815px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .nav__menu li{
        float: left;
    }
    .nav__menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }
    .hamburguer{
        display: none;
    }
}

@media (max-width: 799px) {
    .nav__menu li{
        margin: 0px;
    }
}