.content {
    text-align: center;
    max-width: 90%;
}

.whoPkm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 34px;
    color: #fff;
}

.whoPkm__images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoPkm__images--whobg {
    width: 100%;
    border-radius: 1rem;
}

.whoPkm__images--who {
    position: absolute;
    width: 200px;
    transform: translateX(-60%);
}

.whoPkm__pkmName {
    width: 100%;
    margin-bottom: 10px ;
}

.whoPkm__pkmName input {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

.whoPkm__dontKnowPkm {
    width: 100%;
    margin-bottom: 20px ;
}

.whoPkm__dontKnowPkm button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #ffa500;
    border-radius: 10px;
}

.whoPkm__tips {
    display: flex;
    justify-content: space-between;

}

.whoPkm__tips button {
    width: 30%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover , .input:hover{
    border: 2px solid #fff;
}

@media screen and (max-width: 670px) {

    .whoPkm__images--who {
        position: absolute;
        width: clamp(10%, 30%, 100%);
    }
    .whoPkm__pkmName input {
        padding: auto;
    }    
}

@media screen and (max-width: 460px) {

    h1 {
        font-size: 7.4vw;
    }

}