.content {
    text-align: center;
    max-width: 90%;
}

.content__title {
    font-size: 34px;
    color: #fff;
}

.whoPkm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.whoPkm__images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoPkm__images__whobg {
    width: 100%;
    border-radius: 1rem;
}

.whoPkm__images__who {
    position: absolute;
    width: 180px;
    transform: translateX(-50%);
    filter: brightness(0);
    transition: filter 500ms ease;
}

.whoPkm__try {
    width: 100%;
    margin: 10px 0;
}

.whoPkm__try .input {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

.whoPkm__info {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.2rem;
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    background-color: var(--grass);
    display: flex;
    padding: 10px 3rem;
    border-radius: 10px;
    max-height: 200px;
    transition: all 500ms ease;
}

.hide {
    margin-top: 0;
    font-size: 0;
    padding: 0;
    max-height: 0;
}

.whoPkm__dontKnowPkm {
    width: 100%;
    margin-bottom: 20px ;
}

.whoPkm__dontKnowPkm .button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

#who-is {
    background-color: #ffa500;
}

#try-again {
    background-color: var(--blue);
    color: white;
    transition: all 500ms ease;
}

#try-again {
    display: none;
}

.whoPkm__buttons {
    display: flex;
    justify-content: space-between;

}

.whoPkm__buttons .button {
    width: 30%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

.button:hover , .input:hover{
    border: 2px solid #fff;
}

.whoPkm__tips{
    color: white;
}

.whoPkm__tips--p1, .whoPkm__tips--p2, .whoPkm__tips--p3{
    margin-top: 1rem;
    text-align: start;
    transition: all 500ms ease;
}

@media screen and (max-width: 670px) {

    .whoPkm__pkmName input {
        padding: auto;
    }    
}

@media screen and (max-width: 460px) {

    .whoPkm__images__who {
        width: 37%;
    }
    .content__title {
        font-size: 7.4vw;
    }

}